@charset "utf-8";



body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



#title {
    color: #3E68FF;
}

.search-box {
    height: 30px;
    width: 300px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #3E68FF;
    
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    margin-left: 10px;
}

.search-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border:  1px;
    background: url(/image/icon/search_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg);
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .recommendAcademy li, .popularAcademy li {
        flex: 1 1 100%;
    }
    
    header input[type="text"] {
        width: 200px;
    }
}


