@import url(style.css);

h1.main-title{
    color : #3f69ff;
    font-size: 40px;
    padding:  10px;
    font-weight: bold;
    margin-top: 10px;
    
   

}
.login{
   font-size: 20px;
   color: black;
   font-weight: normal;
   /* position :absolute; */
   position: relative;
   right: -305px;
   /* left: 50; */
   top: -75px;
   text-decoration: none;
}

h1.search{
    display: none;
    border-color: #3f69ff;
}

#container{
    border-color: #3f69ff;
    width: 300px;
    height: 40px;
    position: relative;
    left :40px;
    display: flex;
}

#container input{   
    border-color: #3f69ff;
    width: 100%;
    border-radius: 20px;
}
#container button{
    position: absolute;
    top: 7px;
    bottom: 5px;
    right: 5px;
    border: none;
    border-radius: 20px;
    background-color: white;
    

}

h1.top-menu{
    display: none;
}

.top-menu_link{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    
}
.top-list{
    list-style:none;
    display: flex;
}
.search-menu{
    display: block; 
    margin-top: 5px; 
    font-size: 14px;
}
.top-menu_img{
    display: block; 
    margin: 0 auto;
}
.top-menu_list{
    margin: 10px;
}
.more{
    font-size: 20px;
    color: gray;
    position: relative;
    left: 300px;
    bottom: 50px;
    text-decoration: none;
    
}

h1.title{
    font-size: 25px;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-data{
    border: 1px solid #919191;
    border-radius: 8px;
    box-sizing: border-box;
    width: 360px;
    height: 120px;
    margin-bottom: 20px;
    
    
}
.class-name{
    position: relative;
    left: 5px;
    bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    overflow: hidden;
    font-size: 17px;
}
.day{
    position: relative;
    left: 279px;
    bottom: 39px;
    text-align: center;
    border: 2px solid #3f69ff; 
    background-color: #3f69ff; 
    padding: 5px; 
    font-size: 12px;
    border-radius: 0px 8px 0px 8px; /*내가변경*/
    color: white;
    box-sizing: border-box;
    width: 40px;
    height: 25px;
    border-style: hidden;

}
.link{
    
}
.data1{
    font-size: 14px;
    position: relative;
    color: black;
    right : 30px;
    bottom: 35px;
}
.data2{
    font-size: 11px;
    color: #919191;
    position: relative;
    left: 196px;
    bottom: 52px;
}
.data3{
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    right : 30px;
    bottom: 30px;
}
.data4{
    color: #FFB23E;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 48px;
    left: 35px;
}
.data5{ 
    color: black;
    font-size: 11px;
    position: relative;
    bottom: 65px;
    left: 94px;
}
.data6{
    position: relative;
    bottom: 84px;
    left: 183px;
    width: 96px;
    height: 96px;
    background-image: url(../image/star_24dp_CBFF3C_FILL1_wght400_GRAD0_opsz24.svg);
    background-repeat: repeat-x;
    background-size: 24px 24px;
    
}
.data7{
    position: relative;
    bottom: 180px;
    left: 280px;
    background-repeat: none;
    
}
.data8{
    color: black;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 180px;
    right: 30px;
}
.data9{
    position: relative;
    bottom: 200px;
    left: 280px;
}
.aca-img{
    width: 177px;
    height: 145px;
}
.aca-title{
    display: block; 
    margin-top: 5px; 
    font-size: 17px;
    color: black;
    font-weight: bold;
    
}
.aca-subtitle{
    font-size: 14px;
    font-weight: lighter;
    color: black;
}
.aca-location{
    font-size: 14px;
    font-weight: lighter;
    color: #919191;
}
.aca-list{
    margin-right: 20px;
}
.cumminty-list{
    border: 2px solid #919191;
    border-radius: 8px;
    box-sizing: border-box;
    width: 360px;
    height: 100px;
    
    
}
.c-data1{
    position: relative;
    bottom: 15px;
    right: 35px;
}
.c-data2{
    color: black;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    bottom: 40px;
    right: 10px;
}
.underbar-del{
    text-decoration: none;
}
.c-data3{
    color: black;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    bottom: 60px;
    left: 120px;
}
.c-data4{
    position: relative;
    bottom: 75px;
    left: 200px;
}
.c-data5{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 105px;
    left: 230px;
}
.c-data6{
    position: relative;
    bottom: 130px;
    left: 260px;
}
.c-data7{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 157px;
    left: 285px;
}
.c-data8{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 130px;
    right: 30px;
}
.c-data9{
    position: relative; 
    bottom: 140px;
    left: 250px;
}
.c-data10{
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 170px;
    left: 280px;
}
.news-img{
    width: 385px;
    height: 202px;
    margin-left: 10px;
}
.news-title{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.underbar{
    display: none;
}
.underbar-menu{
    list-style:none;
    display: flex;
    margin-left: -30px;
    border: solid 1px gray;
    border-bottom: hidden;
    border-right: hidden;
    border-left: hidden;
    
}

.underbar-menu_list{
    margin: 10px;
}
.underbar-list{
    display: block;
    color: black;
    font-size: 14px;
    

     
}
.underbar-menu_list_home{
    border: solid 1px #3f69ff;
    background-color: #3f69ff;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    position: relative;
    
}
.underbar-home{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: 10px;
    
    
}