




html{
    background-color: #fff;
    
}

body{
    background-color: #3f69ff;
    height: 30px;
 
}

main{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
}

.login-btn{
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    margin: 5px;
    text-indent: -9999px;
    
    
    
}

.login-btn-naver{
    background-image: url(image/naver.png);
        background-size: cover;
}

.login-btn-kakao{
    background-image: url(image/kakao.png);
        background-size: cover;
}

.login-btn-google {
    background-image: url(image/google2.png);
    background-size: cover;
}

.subject{
    bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #3f69ff;
   
}

.text{
    margin: 20px;
}

.subject-text{
    margin: 20px;
    font-weight: bold;
    color: gray;
    ;
}

.join{
    display: none;
}

.sub-text{
    color: gray;
    font-size: 14px;
}

